:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar > span {
  margin-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-drawer-container {
  flex: 1 1 100%;
}


.sidenav {
  padding-left: 20px;
  padding-right: 20px;

  .sidenav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  mat-slide-toggle {
    padding-left: 10px;
  }

  mat-chip {
    margin-top: 5px;
  }
}

.container {
  margin-top: 20px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.albums-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -25px;
  margin-right: -25px;
}

app-album {
  width: 300px;
  margin: 0px 25px 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
}