<mat-toolbar color="primary">
  <mat-icon>library_music</mat-icon>
  <span>New Music</span>
  <span class="example-spacer"></span>
  
  <button mat-button (click)="addAlbum()">Add Album</button>
  <mat-slide-toggle [(ngModel)]="hideRated">Hide Rated</mat-slide-toggle>
</mat-toolbar>

<div class="container-wrapper">
  <div class="container">
    <ng-container *ngFor="let album of albumsWithRatings$ | async">
      <app-album      
        [album]="album"
        *ngIf="!hideRated || !album.rating"
      ></app-album>
    </ng-container>
  </div>
</div>
